body {
    overflow-x: hidden;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: #2d333d;
}

.heroSection {
    /* border: red 3px solid; */
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(308deg, rgba(222,222,222,0.4) 0%, rgba(246,246,246,0.4) 100%); */
}

#introBack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* 讓 canvas 位於最底層 */
}

.heroContainer {
    display: block;
    width: 95vw;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heroBackgroundCircle {
    /* border: red 3px solid; */
    display: none;
}

@media (min-width:600px) {
    .heroBackgroundCircle {
        display: none;
    }
}

@media (min-width:800px) {
    .heroBackgroundCircle {
        display: block;
        width: 55%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.circleImg {
    height: 40hv;
}

@media (min-width:600px) {
    .circleImg {
        height: 20vw;
    }
}

@media (min-width:992px) {
    .circleImg {
        height: 20vw;
    }
}

.circleOne,
.circleTwo {
    display: block;
    width: 90vw;
    height: 90vh;
    background: rgba(184, 88, 88, 0.8);
    background: rgba(245, 245, 245, 0.4);
    position: absolute;
    /* 使用絕對定位來重疊圓形 */
}

@media (min-width:600px) {

    .circleOne,
    .circleTwo {
        /* border: blue 3px solid; */
        box-shadow: #bdbdbd 0px 0px 15px 5px;
        height: 50vh;
        width: 40vw;
        /* border-radius: 35% 65% 77% 23% / 36% 47% 53% 64%; */
        clip-path: ellipse(50% 45% at 50% 50%);
    }
}

@media (min-width:992px) {

    .circleOne,
    .circleTwo {
        /* border: blue 3px solid;   5555555555555555  */
        box-shadow: #e2e2e2 0px 0px 15px 5px;
        /* border-radius: 35% 65% 77% 23% / 36% 47% 53% 64%; */
        clip-path: ellipse(50% 45% at 50% 50%);
    }
}

.heroTitle {
    display: block;
}

.heroBackgroundContent {
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 70%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media (min-width:600px) {
    .heroBackgroundContent {
        width: 60%;
    }
}

@media (min-width:992px) {
    .heroBackgroundContent {
        width: 35%;
    }
}

.bgfirst {
    background-color: #fef7f1;
}

.bgsecond {
    color: white;
}

.bgthird {
    background-color: #d1d1d1;
}

.bgforth {
    background-color: #2a222c;
    color: white;
}

.myCard {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.myCardTitle {
    font-size: 36px;
}

@media (min-width:600px) {
    .myCardTitle {
        font-size: 42px;
    }
}

@media (min-width:992px) {
    .myCardTitle {
        font-size: 5rem;
    }
}

.bigCardimg {
    background-position: center;
    object-fit: cover;
    width: 50vw;
    height: 20vh;
}

@media (min-width:600px) {
    .bigCardimg {
        height: 30vh;
    }
}

.cardText {
    font-size: 1rem;
}

@media (min-width:600px) {
    .cardText {
        font-size: 1.5rem;
    }
}

.productCard {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.25rem;
    margin-bottom: 0.5rem;
}

.productCardImg {
    background-position: center;
    object-fit: cover;
    width: 50vw;
    height: 20vh;
}

@media (min-width:600px) {
    .productCardImg {
        width: 30vw;
        height: 30vh;
    }
}

.line {
    background-color: teal;
    height: 3px;
    margin-top: 3rem;
}

.icon {
    width: 20px;
    height: 20px;
    opacity: 0.5;
}

.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 35% 65% 77% 23% / 36% 47% 53% 64%;
    /* box-shadow: #ffaf38 5px 5px 2px 2px; */
}

@media (min-width:600px) {
    .profile-img {
        width: 30vw;
        height: 30vw;
    }
}

@media (min-width:992px) {
    .profile-img {
        width: 20vw;
        height: 20vw;
    }
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

.social-links a:hover {
    text-decoration: underline;
}

.footer {
    color: white;
}