body {
  overflow-x: hidden;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.heroContainer {
  height: 100vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media (max-width: 780px) {
  .heroContainer {
    height: 50vh;
  }
}

.heroText {
  width: 90vw;
  margin: 0 auto;
}

marquee {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  color: #a6b0c1;
  text-align: center;
  margin-top: 20px;
}

.skillContent {
  background-color: rgb(48, 48, 48);
  width: 100vw;
  height: 60vh;
  padding: 20vh 10vw 0 10vw;
}

.skillCardIcon {
  width: 50px;
  height: 50px;
  margin: 0 0 20px 0;
}

.skillSmallTitle {
  margin-top: 2rem;
  color: #686868;
}

#application {
  margin-top: 70vh;
}

@media (max-width: 780px) {
  #application {
    margin-top: 140vh;
  }
}

@media (max-width: 400px) {
  #application {
    margin-top: 200vh;
  }
}

#contact {
  margin-top: 80vh;
}
